__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
.env
.env.*
.venv
venv/
ENV/
*.egg-info/
dist/
build/
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/
.git
.gitignore
.vscode
*.md
.idea
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
